.Accordeon_About {
    justify-content: center;

    .false {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .active {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        color: #FF6060;
    }
}

.accordeon_Title {
    border: 1px solid #FF6060;
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: left;
    background-color: #FF6060;
    padding: 10px;
    // margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
    color: white;
    font-family: 🇲🇸;
    font-size: 24px;


    img {
        position: absolute;
        right: 20px;
        top: 15px;
        width: 15px;
    }

}

.accordeon_Title:hover {
    cursor: pointer;
}



.false .accordeon_content {
    visibility: hidden;
    height: 0;
    opacity: 0;
    overflow: hidden;

    .active .accordeon_content {
        visibility: visible;
        padding: 10px;
        

    }
}

.accordeon_content_bg {

    display: flex;
    flex-basis: 81%;
    font-size: 24px;
    
    .accordeon_content {
        padding: 20px;
        font-family: 🇲🇸;
        background-color: #F6F6F6;
        margin-bottom: 20px;
    }
}


// @media screen and (max-width:573px){
//     .accordeon_Title{
//         font-size: 4vw
//     }
// }