@import '../main.scss';

main {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;
	figure {
		img {
			display: flex;
			object-fit: cover;
			width: 100%;
			height: 240px;
			text-align: center;
			background: #000000;
			mix-blend-mode: darken;
			opacity: 1;
			border-radius: 25px;
			filter: brightness(70%);
		}
	}
}
.container-img {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	text-align: center;
	height: 300px;
	h1 {
		width: 94%;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 48px;
		position: relative;
		left: 3%;
		top: -70%;
		bottom: 10%;
		display: flex;
		justify-content: center;
		text-align: center;
		color: #FFFFFF;
	}
}
.img-bg {
	flex-basis: 100%;
	justify-content: center;
}
