main {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;

	.img-bg-Home {
		img {
			display: flex;
			object-fit: cover;
			width: 100%;
			height: 240px;
			text-align: center;
			background: #000000;
			mix-blend-mode: darken;
			opacity: 1;
			border-radius: 25px;
			filter: brightness(70%);
		}
	}
}

.container-img-Home {
	display: flex;
	flex-wrap: wrap;
	flex-basis: 100%;
	text-align: center;
	height: 300px;

	h1 {
		flex-basis: 92%;
		font-family: 'Montserrat';
		font-style: normal;
		font-weight: 500;
		font-size: 46px;
		position: relative;
		left: 3%;
		top: -70%;
		bottom: 10%;
		display: flex;
		justify-content: center;
		text-align: center;
		color: #FFFFFF;
		
		
	}
}

.img-bg-Home {
	flex-basis: 100%;
	justify-content: center;
}


@media screen and (max-width:700px) {
	main {
		.container-img-Home {
			background-color: red;
			display: flex;
			flex-basis: 100%;
			
			height: 130px;

			.img-bg-Home {
				// position: relative;
				width: 90%;
				background-color: lightgreen;
				display: flex;
				align-items: center;
				margin: 0 auto;
				
				img {
					justify-content: center;
					background-color: lightsalmon;
					height: 130px;
					border-radius: 10px;
					width: 95%;
					
					
				}
			}

			h1{
				
				// top: 135px;
				// left: 55px;
				font-size: 6vw;
				height: 50px;
				margin: 0 ;
				
				
				

				
			}
			
		}
	}

	
}