main {
	display: flex;
	flex-basis: 100%;
	flex-wrap: wrap;

	.container-img-Home {
		display: flex;
		flex-wrap: wrap;
		flex-basis: 100%;
		text-align: center;
		height: 300px;

		.img-bg-Home {
			flex-basis: 100%;
			justify-content: center;

			img {
				display: flex;
				object-fit: cover;
				width: 100%;
				height: 240px;
				text-align: center;
				background: #000000;
				mix-blend-mode: darken;
				opacity: 1;
				border-radius: 25px;
				filter: brightness(70%);
				position: relative;
			}
		}

		.Container-h1 {
			width: 90%;
			position: absolute;
			top: 175px;
			left: 38px;

			h1 {
				font-style: normal;
				font-weight: 500;
				font-size: 48px;
				display: flex;
				justify-content: center;
				text-align: center;
				color: white;
			}
		}
	}

}





@media screen and (max-width:700px) {
	main {
		.container-img-Home {
			display: flex;
			flex-basis: 100%;
			height: 130px;

			.img-bg-Home {
				width: 90%;
				display: flex;
				align-items: center;
				margin: 0 auto;
				flex-wrap: wrap;

				img {
					justify-content: center;
					height: 130px;
					border-radius: 10px;
					width: 95%;
					position: relative;
				}

				.Container-h1 {
					width: 95%;
					text-align: left;

					h1 {
						position: absolute;
						font-size: 30px;
						margin: 0;
						text-align: left;
						bottom: 0px;
						left: -20px;
						right: 30%;
						width: 100%;
					}
				}
			}
		}
	}
}