@import '../main.scss';

.Header {
	display: flex;
	flex-basis: 100%;
	justify-content: center;


	.Header-container {
		display: flex;
		flex-wrap: nowrap;
		flex-basis: 100%;
		justify-content: space-between;
		color: lightcoral;

		.Container_img {
			.Logo {
				width: 210px;
			}
		}
	}

}


a {
	color: #FF6060;
	text-decoration: none;
}

.navigation {
	flex-basis: 50%;
	flex-wrap: nowrap;
	justify-content: right;
	display: flex;
	align-items: center;

	ul {
		display: flex;

		li {
			font-family: 'Montserrat';
			font-style: normal;
			font-weight: 500;
			font-size: 24px;
			list-style: none;
			margin-right: 40px;
		}

		.About {
			white-space: nowrap
		}
	}


}

.nav-active {
	text-decoration-line: underline;
}


@media screen and (max-width:573px) {
	.Header {
		display: flex;
		flex-basis: 100%;
		
		.Header-container {
			display: flex;
			
			.Container_img {
				display: flex;
				
				.Logo {
					width: 35vw;
				}
			}
		}
	}

	.navigation {
		display: flex;
		justify-content: left;
		
		ul {
			justify-content: center;
			width: 65%;
			
			li {
				font-size: 4vw;
				text-transform: uppercase;
				margin-right: 15px;
			}
		}
	}
}