
.InfoContainer{
    position: relative;
}


.ContainerUserInfo{
    
    display: flex;
    justify-content: right;
    
    .HostName{
        position: absolute;
        top: 10px;
        right: 120px;
        font-size: 18px;
       
        width: min-content;
    }
    .ProfilPicture{
        position: absolute;
        top: 0px;
        right: 40px;

        display: flex;
        border-radius: 50%;
        width: 70px;
    }

    
}


.Title {
    display: flex;
    justify-content: left;
    color: #FF6060;
    font-size: 36px;
    font-family: 🇲🇸;
    margin: 10px 0px 10px 40px;
}

.Location {
    display: flex;
    justify-content: left;
    color: #FF6060;
    font-size: 18px;
    font-family: 🇲🇸;
    margin: 0px 0px 20px 40px;
}

.Container-tags {
 
    display: flex;
    justify-content: first baseline;
    flex-wrap: wrap;
    width: 30%;
    flex-basis: 100%;
    margin: 0px 0px 20px 0px;
    .Tags {
        background-color: #FF6060;
        display: flex;
        color: white;
        padding: 5px 15px 5px 15px ;
        border-radius: 10px;
        font-family: 🇲🇸 ;
        margin-right: 10px;
        margin-top: 5px;
    }
    
   
}

