@import "../main.scss";

.error {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 288px;
	color: #FF6060;
	line-height: 142.6%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 142.6%;
	margin-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FF6060;
}
.returnHomePage {
	margin-top: 200px;
	font-size: 25px;
	text-decoration: underline;
}




// @media screen and (max-width:768px){
// .Content_Error{
// 	background-color: lightblue;

// 	p{
// 		color: blue;
// 		display: flex;
// 		flex-basis: 100%;
// 		justify-content: center;
// 	}
// }	
	
	
// }