

.error {
	
	font-style: normal;
	font-weight: 700;
	font-size: 288px;
	color: #FF6060;
	line-height: 142.6%;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}
p {
	
	font-style: normal;
	font-weight: 500;
	font-size: 36px;
	line-height: 142.6%;
	margin-top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FF6060;
}
.returnHomePage {
	margin-top: 200px;
	text-decoration: underline;
}




@media screen and (max-width:768px){
.Content_Error{
	margin-top: 100px;
	.error{
		font-size: 25vw;
		
	}
	.MessageError{
		display: flex;
		text-align: center;
		font-size: 25px;
	}
}	
	
.returnHomePage{
	display: flex;
		text-align: center;
		font-size: 18px;
}
}