@import "./components/BannerAbout.scss";
@import "./components/Card.scss";
@import "./components/Footer.scss";
@import "./components/Header.scss";
@import "./pages/error.scss";
@import "./components/AccordeonAbout.scss";
@import "./components/InfoLogement.scss";
@import "./components/Carousel.scss";
@import "./components//StarRating.scss";
@import"./components//BannerHome.scss";
@import "./pages/Fiche-logement.scss";